<div class="animate__animated animate__backInDown">
    <h2>Por País</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input 
            (onEnter)="buscar($event)" 
            (onDebounce)="sugerencias($event)" 
            placeHolder="Buscar País...">
            </app-pais-input>
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <li 
            class="list-group-item list-group-item-action"
            *ngFor="let pais of paisesSugeridos">
            <a class="nav-link"
                [routerLink]="['/pais',pais.alpha2Code]">
                {{pais.name}}
            </a>
        </li>        
        <li 
            class="list-group-item list-group-item-action">
            <a class="nav-link"
                (click)="buscarSugerido(termino)">
                Buscar "{{termino}}"
            </a>
        </li>        
    </ul>


    <hr>
</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró información con el término "{{termino}}"
</div>

<div *ngIf="paises.length>0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>